
<div class="flex">
    <div class="navbar">
        <h1 id="store_name">Fashion store</h1>
        <ul id="category">
            <li class="list_item">Men</li>
            <li class="list_item">Women</li>
            <li class="list_item">Everything</li>
        </ul>
    
        <ul id="user">
            <li class="list_item">About</li>
            <li class="list_item">Contact Us</li>
            <li class="list_item">Cart</li>
            <li class="list_item">profile</li>
        </ul>
    </div>
    
    <h1 id="offer">Raining offers for <br>hot summer !</h1>
    <div>
        <button id="shopnow">SHOP NOW</button>
        <button id="findmore">FIND MORE</button>
    </div>
</div>

